Cython==0.29.25
ephem==4.1.3
GitPython==3.1.27
ipykernel==6.9.0
ipython==8.0.1
ipython-genutils==0.2.0
nbclient==0.5.10
nbconvert==6.4.4
nbformat==5.2.0
notebook==6.4.8
pandas==1.4.0
plotly==5.4.0
python-apt===2.1.2pop0-1587756471-20.04-cd2988e
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-xlib==0.23
yfinance==0.1.70

